#main_pic{
    width: 100%;
    height: auto;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.insider div{
    color: azure;
    font-size: 4.5vw;
    z-index: 2;
    text-align: right;
    padding-right: 1%;
    padding-top: 3%;
    -webkit-transition: color 3s ease-in;
    transition: color 3s ease-in-out;
}